.grid_container {
  display: grid;
  align-items: center;
  overflow: visible;
}

.clickable:hover {
  transform: scale(1.05);
}

.clickable:active {
  transform: scale(0.95);
}

.centered {
  margin: auto;
}

.text.centered {
  text-align: center;
}

.fill_page {
  width: 100vw;
  height: 100vh;
}

.image.full {
  width: 100%;
}

.image.80 {
  width: 80%;
}

.text {
  text-decoration: none;
}

.text:link {
  color: #ccc;
}
/* visited link */
.text:visited {
  color: #ccc;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

html {
  background-color: #291d2b;
}

* {
  margin: 0;
  padding: 0;
  font-family: VCR_OSD_MONO;
  scroll-behavior: auto;
}

@font-face {
  font-family: VCR_OSD_MONO;
  src: url("VCR_OSD_MONO.ttf");
  font-variant: normal;
}

/* width */
::-webkit-scrollbar {
 width: 10px;
 scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
 background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
 border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #777;
}
